h1, div, p{
    border: 10px solid blueviolet ;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display:block;
} 

span{
    display:block;
} 

a{
    display:block;
} 

li{
    display: inline;
} 

h1{ 
    display: none;
}
