ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float:left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
}
li a:hover{
    background-color: #1d3557;

}
body {
    background-color: #a2c2e0;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    padding: 0;
  }
  .centrar-lista {
    text-align: center;
  }
  .centrar-lista ul {
    display: inline-block;
  }
  body {
    text-align: center; 
}
form {
    display: inline-block; 
    text-align: left;
}
body{
    margin:0;
    padding:0;
    background: linear-gradient(#a2c2e0, #ffffff);
}
.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
}
.contenedor h1{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}
.contenedor .elemento label{
    color: #fff;
}
.contenedor .elemento input[type="submit"]:hover {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.contenedor .elemento input[type="submit"]{
    background-color:#7209b7;
    border:none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}

